* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.ingredientes {
  width: 300px;
  margin: 0 auto;
  border: 2px solid lightcoral;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.subtitulo {
  margin-bottom: 1rem;
}

.lista {
  list-style: none;
}

.botana {
  padding: .5rem .3rem;
}

.semilla {
  background-color: lightsalmon;
}

.picante {
  background-color: red;
}

